#maven
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.DS_Store

#eclipse
.settings/
.project
.classpath

#idea
.idea/
*.iml
*.ipr
*.iws

#gradle
.gradle/

#other
/classes/
*.log
*.bak
rebel.xml
rebel-remote.xml
*.iml
